<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>http-servers project</title>
</head>
<body>
    <h1>Hello from {{ domain }}</h1>
    <p>This is a simple http server configuration with SSL certs from Let's Encrypt</p>
    <p>It is running on port <a href="http://{{ domain }}">80</a> and <a href="https://{{ domain }}">443</a></p>
</body>
</html>
