<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>http-servers project</title>
</head>
<body>
    <h1>Hello from {{ domain }}</h1>
    <p>This is a simple http server configuration with SSL certs from Let's Encrypt</p>
    <p>It is running on port <a href="http://{{ domain }}">80</a> and <a href="https://{{ domain }}">443</a></p>
    <p>It provides a webdav mountpoint at <a href="https://{{ domain }}/webdav">/WebDAV</a></p>
    <p>It provides a gitweb view of git repos at <a href="https://{{ domain }}/gitweb">/gitweb</a></p>
    <p>It provides for git repos located at <a href="https://{{ domain }}/git">/git</a></p>
    <p>It serves reverse proxies</p>
    <ul>
        {% for proxy in proxies %}
        <li>
            <strong>URL:</strong> <a href="{{ proxy.url }}">{{ proxy.url }}</a> <br>
            <strong>Backend:</strong> <a href="{{ proxy.backend }}">{{ proxy.backend }}</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
